body {
	font-family: "tahoma", "arial", "helvetica", "sans-serif";
	font-size: 10pt;
background-color: #004E98;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
}

table {
  border-collapse: collapse;
  border: none;
   background-color: #ECE9D8; 
}

table.main, table.mainouter {
  background-color: #F5F4EA;//#F4F4F0;
}

table.bottom {
  background: transparent;
}

h1 {
  font-size: 14pt;
}

h2 {
  font-size: 12pt;
  margin-bottom: 6px;
}

p {
	font-size: 10pt;
}

p.sub { 
  margin-bottom: 4pt;
}

td {
	font-size: 10pt;
	border: solid #000000 1px;
}

td.embedded {
   border: none;
   padding: 0px;
  text-align: left;
}

td.bottom {
  border: none;
}

td.heading {
  font-weight: bold;
}

td.text {
  padding: 12pt;
  text-align: left;
}

td.comment {
  padding: 12pt;
  font-size: 10pt;
  text-align: left;
}

td.colhead {
  font-weight: bold;
  color: #ffffff;
  background-color: #0055A4;
}

td.rowhead {
  font-weight: bold;
  text-align: right;
  vertical-align: top;
}

td.title {
	font-size: 10pt;
}

td.navigation {
	font-weight: bold;
	font-size: 10pt;
   border: none;
}

td.clear {
  padding: 0px;
  border: 0px;
  background: transparent;
}

form {
	margin-top: 0;
	margin-bottom: 0;
}

.sublink {
	font-style: italic;
	font-size: 9pt;
	font-weight: normal;
}

font.gray
{
  color: #ACA899;
  text-decoration: underline;
}

a:link, a:visited {
  text-decoration: underline;
  color: #000000;
  /*font-weight: bold;*/
}

a:hover {
  color: #FF0000;
}

a.index {
	font-weight: bold;
}

a.biglink {
	font-weight: bold;
	font-size: 15pt;
}

a.altlink:link, a.altlink:visited{
	font-weight: bold;
	color: #A83838;
	text-decoration: none;
}

a.altlink:hover {
  text-decoration: underline;
}

.important {
	font-weight: bold;
	font-size: 10pt;
}

.red {
	color: #ee0000;
}

.yellow {
	color: #997700;
}

.green {
	color: #000000;
}

input, select, textarea {
	font-family: "tahoma", "arial", "helvetica", "sans-serif";
	font-size: 10pt;
}

.btn {
  width: 75px;
  height: 23px;
}

.small {
  font-size: 7pt;
}

.big {
  font-size: 12pt;
}

li {
  margin-top: 8pt;
  margin-bottom: 8pt;
}

ul {
  margin-left: 20pt;
  margin-top: 0px;
  margin-bottom: 0px;
}

img.border  
{  
  border-style: solid;  
  border-color: #000000; 
  border-width: 1px; 
}